{
    "boot-source": {
        "kernel_image_path": ".work/downloads/vmlinux-6.1.102",
        "boot_args": "console=ttyS0 ip=172.16.0.2 reboot=k panic=1 pci=off init=/sbin/overlay-init scout_hostname=test",
        "initrd_path": null
    },
    "drives": [
        {
            "drive_id": "rootfs",
            "partuuid": null,
            "is_root_device": true,
            "cache_type": "Unsafe",
            "is_read_only": true,
            "path_on_host": ".work/rootfs.ext4",
            "io_engine": "Sync",
            "rate_limiter": null,
            "socket": null
        },
        {
            "drive_id": "scoutfs",
            "partuuid": null,
            "is_root_device": false,
            "cache_type": "Unsafe",
            "is_read_only": true,
            "path_on_host": ".work/scoutfs.ext4",
            "io_engine": "Sync",
            "rate_limiter": null,
            "socket": null
        },
        {
            "drive_id": "workfs",
            "partuuid": null,
            "is_root_device": false,
            "cache_type": "Unsafe",
            "is_read_only": false,
            "path_on_host": "/tmp/firecracker.ext4",
            "io_engine": "Sync",
            "rate_limiter": null,
            "socket": null
        }
    ],
    "machine-config": {
        "vcpu_count": 2,
        "mem_size_mib": 512,
        "smt": false,
        "track_dirty_pages": false,
        "huge_pages": "None"
    },
    "cpu-config": null,
    "balloon": null,
    "network-interfaces": [
        {
            "iface_id": "eth0",
            "host_dev_name": "tap888",
            "guest_mac": "06:00:AC:10:00:02",
            "rx_rate_limiter": null,
            "tx_rate_limiter": null
        }
    ],
    "vsock": null,
    "logger": {
        "log_path": "/tmp/firecracker.log",
        "level": "Debug",
        "show_level": true,
        "show_log_origin": true
    },
    "metrics": null,
    "mmds-config": null,
    "entropy": null
}
