[Unit]
After=scout-setup.service

[Service]
Type=exec
Restart=always
RestartSec=1
UMask=0000
ExecStart=/scout/testing agent

[Install]
WantedBy=sysinit.target
